<h3>管理公交线路</h3>
<div class="row well row-without-margin-left-right">
	<form class="form-horizontal">
		<fieldset>
			<legend>新增节点</legend>
			<div class="form-group">
				<label for="nodeId" class="col-md-2 col-lg-2 control-label">节点ID</label>
				<div class="col-md-10 col-lg-10">
					<input id="nodeId" ng-model="node.nodeId" type="text" class="form-control" placeholder="NodeId">
				</div>
			</div>
			<div class="form-group">
				<label for="nodeLabel" class="col-md-2 col-lg-2 control-label">节点标签</label>
				<div class="col-md-10 col-lg-10">
					<input id="nodeLabel" ng-model="node.label" type="text" class="form-control" placeholder="nodeLabel">
				</div>
			</div>
			<div class="form-group">
				<label for="nodeDescription" class="col-md-2 col-lg-2 control-label">节点描述</label>
				<div class="col-md-10 col-lg-10">
					<input id="nodeDescription" ng-model="node.description" type="text" class="form-control" placeholder="nodeDescription">
				</div>
			</div>
		</fieldset>
	</form>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
				<button type="submit" class="btn btn-raised btn-primary" ng-click="addNode()">增加节点</button>
			</div>
		</div>
	</form>
	
	<form class="form-horizontal">
		<fieldset>
			<legend>新增边</legend>
			<div class="form-group">
				<label for="startNode" class="col-md-2 col-lg-2 control-label">起始节点</label>
				<div class="col-md-10 col-lg-10">
					<select id="startNode" class="form-control" ng-model="startNode">
						<option ng-repeat="node in nodes" ng-value="node">{{node.nodeId}}-{{node.label}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="endNode" class="col-md-2 col-lg-2 control-label">结束节点</label>
				<div class="col-md-10 col-lg-10">
					<select id="endNode" class="form-control" ng-model="endNode">
						<option ng-repeat="node in nodes" ng-value="node">{{node.nodeId}}-{{node.label}}</option>
					</select>
				</div>
			</div>
		</fieldset>
	</form>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
				<button type="submit" class="btn btn-raised btn-primary" ng-click="addEdge()">增加边</button>
			</div>
		</div>
	</form>
	
	<form class="form-horizontal">
		<fieldset>
			<legend>新增公交</legend>
			<div class="form-group">
				<label for="nodeId" class="col-md-2 col-lg-2 control-label">公交名称</label>
				<div class="col-md-10 col-lg-10">
					<input id="nodeId" ng-model="bus.busName" type="text" class="form-control" placeholder="busName">
				</div>
			</div>
			<div class="form-group">
				<label for="nodeLabel" class="col-md-2 col-lg-2 control-label">公交经过节点</label>
				<div class="col-md-10 col-lg-10">
					<input id="nodeLabel" ng-model="bus.nodeNames" type="text" class="form-control" placeholder="1,2,3,4,5">
				</div>
			</div>
		</fieldset>
	</form>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
				<button type="submit" class="btn btn-raised btn-primary" ng-click="addBus()">增加公交</button>
			</div>
		</div>
	</form>

	<p class="lead">{{result}}</p>
</div>


<div class="row well row-without-margin-left-right">
	<p class="lead">图结构</p>
	<div class="row">
		<div class="col-md-5">
			<p>设置显示属性</p>
			<form class="form-horizontal">
				<fieldset>
					<div class="form-group">
						<label for="nodeAttribute" class="col-md-5 control-label">节点显示属性</label>
						<div class="col-md-7">
							<select id="nodeAttribute" class="form-control" ng-model="nodeAttribute" ng-change="node_display_attr_update()">
								<option ng-repeat="option in nodeAttributes" ng-value="option">{{option.value}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="edgeAttribute" class="col-md-5 control-label">边显示属性</label>
						<div class="col-md-7">
							<select id="edgeAttribute" class="form-control" ng-model="edgeAttribute" ng-change="edge_display_attr_update()">
								<option ng-repeat="option in edgeAttributes" ng-value="option">{{option.value}}</option>
							</select>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="col-md-3">
			<p>显示布局</p>
			<div class="btn-group-vertical">
				<button class="btn btn-raised btn-primary" ng-click="layout = {name: 'circle'}">Circle</button>
				<button class="btn btn-raised btn-primary" ng-click="layout = {name: 'cose'}">Cose</button>
				<button class="btn btn-raised btn-primary" ng-click="layout = {name: 'breadthfirst'}">breadthfirst</button>
				<button class="btn btn-raised btn-primary" ng-click="layout = {name: 'grid'}">grid</button>
			</div>
		</div>
		<div class="col-md-4">
			<p>属性</p>
			<div class="col-md-12" ng-show="selected_element.isNode">
				<table class="table table-hover table-bordered">
					<thead> 
						<tr><th>属性名</th><th>属性值</th></tr> 
					</thead> 
					<tbody> 
						<tr><td>节点ID</td><td>{{selected_element.nodeId}}</td></tr> 
						<tr><td>标签</td><td>{{selected_element.label}}</td> </tr> 
						<tr><td>描述</td><td>{{selected_element.description}}</td></tr> 
					</tbody> 
				</table>
			</div>
			<div class="col-md-12" ng-show="selected_element.isEdge">
				<table class="table table-hover table-bordered">
					<thead> 
						<tr><th>属性名</th><th>属性值</th></tr> 
					</thead> 
					<tbody> 
						<tr><td>边ID</td><td>{{selected_element.relationId}}</td></tr> 
						<tr><td>标签</td><td>{{selected_element.label}}</td> </tr> 
						<tr><td>描述</td><td>{{selected_element.description}}</td></tr> 
						<tr><td>距离</td><td>{{selected_element.distance}}</td></tr> 
						<tr><td>时间</td><td>{{selected_element.time}}</td> </tr> 
						<tr><td>费用</td><td>{{selected_element.cost}}</td></tr> 
					</tbody> 
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<cytoscape id="default" style="height: 500px;" graph-options="defaults" graph-elements="elements"
			graph-layout="layout" id="defaults-graph" graph-style="styles"></cytoscape>
	</div>
</div>